.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
#eChartId {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.fileUpload{
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}
.clearBtn{
  margin-right: 10px;
}